* {
    margin: 0;
    padding: 0;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 32px;
  }
  img{
      display: block;
      max-width: 100%;
      height: auto;
  }
  .wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
    margin-bottom: 100px;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.menu_list_item {
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
}
.menu_list_item:last-child {
    padding-right: 0;
}
.menu_list_item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s linear .2s;
    height: 35px;
}
.menu_list_item a:hover {
    border-bottom: 4px solid #f38181;
    color: #f38181;
    transition: all .2s linear .2s;  
}
.menu_list {
    display: flex;
    justify-content: flex-end; 
}
.service_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.service_title span {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.2;
    color: rgb(51, 51, 51);
}
.service_title::after {
    content: " ";
    display: block;
    width: 62px;
    height: 4px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}
.service{
    margin-bottom: 100px;
}
.service_header {
    margin-bottom: 66px;
}
.service_list_item {
    width: 382px;
    list-style-type: none;
    margin-bottom: 100px;
    display: flex;
}
.service_list_item_wrap {
    width: 300px;
}
.service_list_item:nth-child(n+4) {
    margin-bottom: 0;
}
.service_list_item_icon {
    margin-top: 10px;
    margin-right: 32px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}
.photo {
    background-image: url(img/alarm.png);
}
.line {
    background-image: url(img/line-graph.png);
}
.creative {
    background-image: url(img/computer.png);
}
.book {
    background-image: url(img/book.png);
}
.home {
    background-image: url(img/home.png);
}
.digital {
    background-image: url(img/image.png);
}
.service_list_item_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 11px;
}
.service_list_item_p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}
.service_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team {
    margin-bottom: 100px;
}
.team_p {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.team_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase; 
    margin-bottom: 44px;
    color: rgb(51, 51, 51);
}
.team_title span {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.2;
    color: rgb(51, 51, 51);
}
.team_title::after {
    content: " ";
    display: block;
    width: 62px;
    height: 4px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}
.team_p2 {
    font-size: 15px;
    color: #999999;
    text-align: center;
    margin-bottom: 94px;
    font-family: 'Roboto', sans-serif;
}
.team_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.team_list_item {
    position: relative;
    transition: all 200ms linear; 
}
.team_list_item_title {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase; 
    text-align: center;
    margin-bottom: 2px;
}
.team_list_item_p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #999999; 
    text-align: center;
}
.team_list_hover {
    list-style-type: none;
    width: 380px;
    height: 470px;
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    box-shadow: 10px 10px rgb(149, 225, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    
}
.team_list_item:hover .team_list_hover {
    opacity: 1;  
    transition: all 200ms linear;
}

.team_list_item_hover a {
    display: block;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    margin-right: 1px;
    transition: background-color 200ms linear;
}
.team_list_item_hover a:hover {
    background-color: #95e1d3;
}
.facebook {
    background-image: url(img/facebook.png);
}
.twitter {
    background-image: url(img/twitter.png);
}
.pinterest {
    background-image: url(img/pinterest.png);
}
.instagram {
    background-image: url(img/instagram.png);
}
.team {
    margin-bottom: 82px;
}
.footer {
    border-top: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer_address {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000;
    font-style: normal;
}
.footer_form {
    width: 380px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: flex;
    align-items: center;
}
.input {
    width: 228px;
    height: 40px;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    border: 1px solid #cccccc;
}
.footer_click {
    display: inline-block;
    width: 152px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    background-color: #95e1d3;
    text-align: center;
    padding-top: 5px;
    
}
.footer_address span {
    color: #f38181;
    padding-left: 5px;
}